body {
    padding: 0;
    margin: 0;
    background-color: aquamarine;
  }
  #container {
    height: 550px;
    margin-left: 25px;
  }
  .outer-card {
    height: 150px;
    width: 120px;
    background: transparent;
    perspective: 1200px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
  }
  .inner_card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: linear-gradient(
      50deg,
      rgb(235, 41, 199) 0%,
      yellow 50%,
      blue 100%
    );
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .back {
    transform: rotateY(180deg);
  }
  #score_board {
    height: 85px;
    width: 450px;
    border: 4px solid black;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  img {
    width: 100%;
    height: 100%;
  }